<div style="display: block; width: 100%; height: 400px;">
  <ion-buttons slot="end" style="float: right">
    <ion-button (click)="this.filterStatus ? filterData(false) : filterData(true)" shape="round" size="small" class="custom-button">
      <ion-icon name="filter-outline" style="font-size: 20pt;"></ion-icon>
      <div *ngIf="!filterStatus" style="padding-left: 10px;">
     Mostrar Tudo
      </div>

      <div *ngIf="filterStatus" style="padding-left: 10px;">
        Mostrar 7 Dias
      </div>

    </ion-button>
  </ion-buttons>
  <canvas id="myChart7" *ngIf="!filterStatus"></canvas>
  <canvas id="myChart" *ngIf="filterStatus"></canvas>
</div>
