<div class="center" style="width: 50%;margin-top: 100px">
  <h1>Titulo do texto</h1>
  <br>
  <p>
    Instale o PowerShell mais recente para obter novos recursos e aprimoramentos! https://aka.ms/PSWindows

    PS C:\Users\gabri\OneDrive\ionicApp2\ionicApp> ionic g m home
    > ng.cmd generate module home
    ? Would you like to share pseudonymous usage data about this project with the Angular Team
    at Google under Google's Privacy Policy at https://policies.google.com/privacy. For more
    details and how to change this setting, see https://angular.io/analytics. Yes

    Thank you for sharing pseudonymous usage data. Should you change your mind, the following
    command will disable this feature entirely:

  </p>
</div>
