<ion-card [class]="cardClass" style="margin-top: 10px">
  <ion-card-header>
    <ion-card-title class="primary"><ion-icon name="restaurant-outline"></ion-icon> Calories Dashboard</ion-card-title>
    <ion-card-subtitle>Administre a quantidade de Calorias ingeridas e veja o gráfico de calorias perdidas ou ganhas ao longo do tempo.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid >
      <ion-row>
        <ion-col [size]="gridSize">
          <ion-card class="borderRadius20" style="height: 320px">
            <ion-card-header>
              <ion-card-title>Calorias Diárias</ion-card-title>
              <ion-card-subtitle>Você deve consumir Abaixo do Limite diário</ion-card-subtitle>
              <ion-button fill="outline" size="small" shape="round">Descubra seu T.M.B</ion-button>
            </ion-card-header>
            <ion-card-content>
              <div class="rgba borderRadius20 margin" style="height: 100px">
                <h1 class="center padding" style="font-size: 30px;padding: 10px; color: white;">0 / 1811</h1>
                <ion-progress-bar [value]="50" class="margin borderRadius20" style="width: 90%;padding: 5px;margin-top: 10px"></ion-progress-bar>
                <br>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="borderRadius20"  size-md="6" size-sm="12">



            <ion-card-content>
              <ion-list style="height: 600px" class="scroll">


                <p class="textCenter padding">Histórico de Alimentos Ingeridos</p>


                  <div *ngFor="let x of alimentosIngeridos$ | async">
                    <ion-item class="animate__animated animate__bounceInLeft">
                      <ion-label class="rgba padding borderRadius20 padding20">{{x.alimento}} x{{x.quantidade}}<br><span class="primary bold">{{x.calorias}} Kcal</span></ion-label>
                      <ion-icon (click)="deleteAlimentoIngerido(x.id)" class="trash" slot="end" name="trash-bin"></ion-icon>
                    </ion-item>
                  </div>
                <!--<div *ngIf=" alimentosIngeridos$.length>0;else empty">
                </div>
                <ng-template #empty>
                  <h3>GIF DE PRTO V4SIO</h3>
                </ng-template>
-->

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>





  </ion-card-content>
</ion-card>



<ion-modal trigger="open-modal" class="borderRadius20"   >
  <ng-template>
    <ion-header>
      <ion-toolbar>

        <ion-title>Adicione um Alimento</ion-title>

      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
<p>Adicionar novos alimentos em nosso banco de dados</p>
      <ion-content>
        <form [formGroup]="meuFormGroup" (ngSubmit)="submitForm()">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="alimento"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Calorias</ion-label>
            <ion-input type="number" formControlName="calorias"></ion-input>
          </ion-item>



          <ion-button expand="full" type="submit" color="primary">Adicionar novo Alimento</ion-button>
        </form>
      </ion-content>



    </ion-content>
  </ng-template>
</ion-modal>




<ion-modal trigger="open-modal-add-to-favs" class="borderRadius20"   >
  <ng-template>
    <ion-header>
      <ion-toolbar>

        <ion-title>Adicione seus Alimentos mais Ingeridos </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="salvarFavoritos()" [strong]="true">Salvar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>Na verdade, vamos colocar um input de pesquisa de alimentos ingeridos, porem é necessario colocar os alimentos favoritos</p>
      <ion-content>

        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label position="floating">Pesquisar</ion-label>
          <ion-input [(ngModel)]="pesquisa"  type="text" placeholder="Ex: Ovo, Bife, Leite ..."></ion-input>
        </ion-item>
        <div class="scroll margin " style="height: 350px; width: 100%" >
<!-- FAZER VERIFICAÇÃO COM OS ALIMENTOS FAV, E IMPEDIR QUE ELES APAREÇAM AQUI SE JA ESTA NO FAVORITOS -->
            <ion-item class="animate__animated animate__fadeInRight rgba" *ngFor="let x of alimentosFiltrados">

              <ion-label>{{x.alimento}}<br><span class="primary bold">{{x.calorias}} Kcal</span></ion-label>
              <ion-checkbox (ionChange)="checkboxChanged(x)"></ion-checkbox>

            </ion-item>




        </div>

      </ion-content>



    </ion-content>
  </ng-template>
</ion-modal>



<ion-modal trigger="open-modal-alimentos-ingeridos" class="borderRadius20"   >
  <ng-template>
    <ion-header>
      <ion-toolbar>

        <ion-title>Oque você comeu Hoje? </ion-title>

      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding scroll">
      <p>Marque todos os Alimentos que você ingeriu</p>


          <!-- Verifica se algum alimento foi selecionado     {{ finalKcal }} Kcal    {{ alimentoSelected }} -->
          <div *ngIf="selectedRadio">

            <div class="animate__animated animate__fadeIn rgba">
              <form [formGroup]="formGroupAddAlimentosIngeridos" (ngSubmit)="submitFormAddAlimentosIngeridos()">
                <ion-item>
                  <ion-input type="text" formControlName="alimento" [(ngModel)]="alimentoSelected"></ion-input>


                </ion-item>

                <ion-item>
                  <ion-input type="text" formControlName="calorias" [(ngModel)]="finalKcal"></ion-input>


                </ion-item>

                <ion-item>
                  <ion-label position="floating">Quantidade</ion-label>
                  <ion-input (ionChange)="quantidadeChange()" formControlName="quantidade" [(ngModel)]="quantidadeSelected"
                             type="number" placeholder="Ex: 2"></ion-input>
                </ion-item>


                <ion-button type="submit" color="primary" shape="round" size="small" class="margin"  >
                  Adicionar
                </ion-button>
              </form>
            </div>

            <br>
          </div>


          <!-- radio button -->

          <ion-list class="scroll" style="height: 400px">
            <ion-radio-group [(ngModel)]="selectedRadio">
              <ion-item class="animate__animated animate__fadeInRight rgba" *ngFor="let x of alimentosFav$ | async">
                <ion-label>{{x.alimento}}<br><span class="primary bold">{{x.calorias}} Kcal</span></ion-label>
                <ion-radio  (click)="changeSelected(x)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>





    </ion-content>
  </ng-template>
</ion-modal>


<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMsg"
  [duration]="2500"
  (didDismiss)="setOpen(false, '')"
></ion-toast>
